.nav {
  grid-area: nav;
  display: flex;
  margin-bottom: 4em;
  padding: 0.5em;
  background-color: blue;
}

.nav a {
  color: black;
  text-decoration: none;
}

.nav-content {
  flex: 0 25%;
  background-color: red;
}
