@import url(card.css);
@import url(nav.css);
@import url(author.css);

.container {
  /* Screen size: mobile (<500) */
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "nav"
    "main"
    "ft";
  /* border: 2px solid yellow; */
  max-width: 1800px;
  margin: 0 auto;
}

.card-container {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1em;
}

.header {
  /* row start/column start/ row end/ column end */
  grid-area: hd;
  margin: 0.5em;
}

.header h1 {
  color: white;
	font-size: 40px;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}

.header .black {
  color: black;
  text-shadow: -1px 1px 0 white,
				  1px 1px 0 white,
				 1px -1px 0 white;
				-1px -1px 0 white;
}

.footer {
  grid-area: ft;
  margin: 0.5em;
  margin-top: 100px;
}

.sidebar {
  grid-area: sd;
}
